<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.spring_boot_final.project.dao.IDAO_cjh">
	  <insert id="insertmenu" parameterType="com.spring_boot_final.project.model.MenuVO_cjh">
	  		INSERT INTO menu (menu_id, menu_date, menu_type, menu_pic, men1, men2, men3, menRice, menSoup, cal, prot, fat, carb, allergy_info)
	  		VALUES(#{menu_id}, #{menu_date}, #{menu_type}, #{menu_pic}, #{men1}, #{men2}, #{men3}, #{menRice}, #{menSoup}, #{cal}, #{prot}, #{carb}, #{fat}, #{allergy_info})
	  </insert>
  </mapper>