<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.spring_boot_final.project.dao.IDAO_cjh">
  
  	<resultMap id="menuResult" type="com.spring_boot_final.project.model.MenuVO_cjh">
  		<result property="menu_id" column="menu_id"/>
  		<result property="menu_date" column="menu_date"/>
  		<result property="menu_type" column="menu_type"/>
  		<result property="menu_pic" column="menu_pic"/>
  		<result property="mainMenu" column="mainMenu"/>
  		<result property="subMenu" column="subMenu"/>
  		<result property="other" column="other"/>
  		<result property="cal" column="cal"/>
  		<result property="prot" column="prot"/>
  		<result property="carb" column="carb"/>
  		<result property="fat" column="fat"/>
  		<result property="allergy_info" column="allergy_info"/>
  	</resultMap>
  
  
  <!-- menu 테이블에 모든 데이터 넣기 -->
	  <insert id="insertmenu" parameterType="com.spring_boot_final.project.model.MenuVO_cjh">
	  		INSERT INTO menu (menu_id, menu_date, menu_type, menu_pic, mainMenu, subMenu, other, cal, prot, fat, carb, allergy_info)
	  		VALUES(#{menu_id}, #{menu_date}, #{menu_type}, #{menu_pic}, #{mainMenu}, #{subMenu}, #{other}, #{cal}, #{prot}, #{carb}, #{fat}, #{allergy_info})
	  </insert>
	  
	  <!-- 오늘 날짜에 해당하는 메뉴만 가져오기 -->
	  <select id="todaymenu" parameterType="string" resultMap="menuResult">
	  	SELECT * FROM menu 
	  	WHERE menu_date=#{menu_date} 
	  	ORDER BY menu_id ASC
	  </select>
	  
	  
	  <!-- 오늘 날짜 이후 해당하는 메뉴 전부 가져오기 --><!-- 부등호 사용으로 인한 cdata 이용 즉, 오류 방지용 -->
  	  <select id="menuAll" parameterType="string" resultMap="menuResult">
	  	<![CDATA[
	  		SELECT * FROM menu 
	  		WHERE menu_date >= #{menu_date} 
	  		ORDER BY menu_id ASC
	  	]]>
	  </select>
	  
  </mapper>