*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

/* 지역선택 */
.lct{
    position: relative;
    text-align: center;
    padding-top: 120px;
    background: #29335c;
    padding-bottom: 80px;
}
.lct_ctg_icon{
    height: 100px;
    margin-bottom: 40px;
}
.lctDis{
	color:white;	
	font-size:40px;
    margin-bottom: 100px;
}
.lct select{
    -webkit-appearance: none;
    appearance: none;
    font-size: 15px;
    color: white;
    background-color: transparent;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
    border: 3px solid white;
    border-radius: 20px;
}
.lct select:focus{
	  border:none;
}
.lct input{
	font-size:30px;
	color:white;
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px white solid;
    background-color: transparent;
    text-align: center;
    outline: none;
    width: 700px;
    transition:ease;
}
.lct input:focus{
 	    border-bottom: 2px #BDC667 solid;
}

/* 타입 선택*/
.subsec2{
    position: relative;
    text-align: center;
    padding-top: 120px;
    background: #8F8389;
    padding-bottom: 80px;
}
.instructions-price{
	padding-top: 20px;
    font-size: 13px;
    opacity: 0.8;
}
.searchBox{
	display:flex;
	align-items:center;
	justify-content:center
}
.radio-title-group{
	color:white;
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
}
.RadBtn{
	position:relative;
	height:300px;
	width:400px;
	margin:20px;
}
.RadBtn input{
	position:absolute;
	height:100%;
	width:100%;
	cursor:pointer;
	margin:0 auto;
	opacity:0;
	left:4px;
	z-index:2;
}
.RadBtn .radio_title{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	height:100%;
	border: 3px solid white;
	border-radius:8px;
	transition: all .3s ease;
}
.type_icon{
	height:140px;
	width:140px;
}
.RadBtn label{
    font-size: 25px;
    padding-bottom: 10px;
}
.RadBtn input:checked + .radio_title{
	background-color: #BDC667;
	color:#f3f3f3;
}
/* 날짜 선택 */

.dateCheck{
    position: relative;
    text-align: center;
    padding-top: 120px;
    background: #29335c;
    padding-bottom: 80px;
    color: white;
}
.day{
	width:140px;
}
.dayrow{
    display: flex;
    position: relative;
    width: 980px;
    justify-content: center;
    margin: auto;
}
.week{
display:flex;	
	
}

.check-title-group{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
}
.checkBtn{
	position:relative;
	height:60px;
	width:100px;
	margin:20px;
}
.checkBtn input{
	right: 0px;
	position:absolute;
	height:100%;
	width:100%;
	cursor:pointer;
	margin:0 auto;
	opacity:0;
	z-index:2;
}
.checkBtn .check_title{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	height:100%;
	border: 3px solid orange;
	border-radius:8px;
	transition: all .3s ease;
}
.checkBtn label{
	font-size: 16px;
    font-weight: bold;
}
.checkBtn input:checked + .check_title{
	background-color: #BDC667;
	color:#f3f3f3;
}

.menuUpload{
	background: #29335c;
    text-align: center;
    padding-bottom: 80px;
}

.menuUpload input{
    width: 1020px;
    height: 70px;
    border: 5px solid orange;
    border-radius: 30px;
    color: white;
    font-size: 26px;
    background: transparent;
    cursor: pointer;
}

.menuUpload input:hover{
    border: 5px solid orange;
    background:  #BDC667;

}