@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 상단 헤더 */
.logo{
	height:90px;
	width:100px;
}


.nav {
	width: 85%;
	margin: auto;
	padding-left: 35px;
	padding-top: 35px;
	padding-right: 35px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	cursor: pointer;
}

.nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.nav ul li a{
	text-decoration: none;
	color:#534D41;
}


/* 슬라이드 광고 */
#nextButton:hover {
	opacity: 1;
}

#hyperButton {
	position: fixed;
	height: 60px;
	width: 240px;
	top: 85%;
	right: 8%;
	opacity: 0.6;
	cursor: pointer;
	z-index: 100;
	font-weight: bold;
	font-size: 2em;
	color: white;
}

#hyperButton:hover {
	opacity: 1;
}

.section {
	width: 100%;
	height: 1080px;
	background-position: center;
}


#s1 {
	background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.2) 100%), url(/lib/book1.jpg);
	background-size: cover;

}

#s2 {
	background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.2) 100%), url(/lib/book2.jpg);
	background-size: cover;

}
#s3 {
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.2) 100%), url(/lib/book3.jpg);
	background-size: cover;

}
#prevNextButtonBox {
	position: relative;
	z-index: 100;
}
#prevButton {
	position: fixed;
	height: 40px;
	width: 40px;
	top: 4%;
	left: 50%;
	opacity: 0.6;
	cursor: pointer;
	transform: rotate(180deg);
}

#subbutton1{
	position: relative;
	margin-top:80vh;
	margin-left:80%;
}
.title {
	text-decoration: none;
	padding-top:100px;
	left: 250px;
	top: 150px;
	width: 600px;
	height: 200px;
	color: white;
	font-weight: bold;
	font-size: 8em;
	z-index: 100;
}
.outline {
	position : relative;
	color: white;
	top:50px;
	left: 250px;
	width: 600px;
	height: 400px;
	text-align:left;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 25px;
	letter-spacing: 2px;
	line-height: 40px;
}

/* 사용법 */
.sec01 {
	width: 100%;
	height: 100vh;
	background-color: #29335C;
	background-size: cover; 
	backgroung-position: center;
	color: #fff;
}

.sec01 h3{
	position: relative;
	top:20%;
	left:60%;
	transform: translateY(-50%);
	color:#fff;
}

.instruction{
	position: relative;
	top: 20%;
	display: flex;
	justify-content: space-evenly;
	text-align:center;
}

.instructionBox{
	align:center;
	width:15%
}

.instructionBox .icon{
	height: 16vh;
	width: 80%;
	margin-left:10%;
	border:2px solid #fff;
}

#subbutton2{
	position: relative;
	margin-top:50vh;
	margin-left:80%;
}




/*  오늘의 메뉴 */
.sec02 {
	width: 100%;
	height: 100vh;
	background-color: #F0CEA0;
	background-size: cover; 
	backgroung-position: center;
}

/*후기 존*/
.sec03 {
	width: 100%;
	height: 100vh;
	background-color: #534D41;
	background-size: cover; 
	backgroung-position: center;
}
