@charset "UTF-8";

* {
	margin: auto 0;
	padding: 0;
}



/* 상단 헤더 */

.logo{
	height:90px;
	width:100px;
}
.nav {
	width: 85%;
	margin: auto;
	padding-left: 35px;
	padding-top: 35px;
	padding-right: 35px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	cursor: pointer;
}
.nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.nav ul li a{
	text-decoration: none;
	color:#534D41;
}

/* 메인 페이지*/

#mainbox{
    margin: 0 auto;
    position: relative;
    width: min-content;
}
#pannel{
	position:relative;
	height: 600px;
	display: inline-flex;
}
.section{
	width:1980px;
	height: 600px;
	margin:auto;
	
}
.title{
    width: 600px;
    color: white;
    font-weight: bold;
    font-size: 3em;
}
.outline {
    position: relative;
    text-align: left;
    font-weight: bold;
    font-size: 1.0em;
    line-height: 25px;
    letter-spacing: 2px;
}
#s1{
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.2) 100%), url(../../image/cjh_eatMain1.jpg);
	background-size: cover;
}
#t1{
    padding-top: 230px;
    padding-left: 35%;
}
#o1{
    top: 53px;
    left: 820px;
    color: darkcyan;
    font-size: large;
}
#s2{
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.7) 35%,
		rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.0) 100%), url(../../image/cjh_eatMain2.jpg);
	background-size: cover;
}
#t2{
    padding-top: 139px;
    padding-left: 10%;
}
#o2{
    top: 53px;
    left: 363px;
    color: orange;
    width: 737px;
    font-size: x-large;
    letter-spacing: 4px;
    line-height: 2.1;
}
#s3{
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 0.1) 31%, rgba(0, 0, 0, 0) 100%), url(../../image/cjh_eatMain3.jpg);
	background-size: cover;
}
#t3{
	padding-top: 446px;
    padding-left: 7%;
}
#o3{
	top: -117px;
    left: 189px;
    color: orange;
    width: 737px;
    font-size: x-large;
    letter-spacing: 4px;
    line-height: 1.5;
}
#s4{
    background: linear-gradient(109deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.2) 100%), url(../../image/cjh_eatMain4.jpg);
    background-size: cover;
}
#t4 {
    padding-top: 246px;
    padding-left: 9%;
    font-size: 30px;
}
#s5{
	background: linear-gradient(60deg, rgba(0, 0, 0, 0.5) 30%,
		rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.2) 100%), url(../../image/cjh_eatMain5.jpg);
	background-position: 0 630px;
	background-size: cover;
}
#t5{
	padding-top: 450px;
    padding-left: 1350px;
}
#o5{
    top: 20px;
    padding-left: 828px;
    left: 347px;
    color: #f3F3F3;
    width: 737px;
    font-size: large;
    letter-spacing: 1px;
    line-height: 1.5;
}

#slideShowBox {
	width: 1980px;
	height: 600px;
	text-align:center;
	overflow:hidden;  /* 영역 벗어나면 숨김 */
}
#prevNextButtonBox {
	position:relative;
	z-index: 1;
	top: 250px;
}
#prevButton {
	position:absolute;
	left:4%;
	rotate: 180deg;
	opacity: 0.1;
	cursor:pointer;
}

#nextButton {
	position:absolute;
	right:4%;
	opacity: 0.1;
	cursor:pointer;
}
#prevButton:hover{opacity: 0.8;}
#nextButton:hover{opacity: 0.8;}

#subbutton2{
	position: relative;
	margin-top:50vh;
	margin-left:80%;
}
#controlButtonBox {
	 margin: 0 auto;
	 width: 160px; 
	}
#controlButtonBox img {
    float: left;
    transform: translateY(-51px);
    margin: 10px;
}

/* 사용법 */
.sec03 {
	margin: auto;
	width: 100%;
	height: 1000px;
	background-color: #29335C;
	background-size: cover; 
	background-position: center;
	color: #fff;
	text-align: center;
}

.sec03 h3{
    position: relative;
    padding-top: 100px;
    color: #f0cfa0;
    width: 800px;
    font-size: 60px;
    margin: auto;
}
.sec03 p{
	top:1.5em;
	position: relative;
	color: #eedfcb;
	font-size: 1.5em;
	font-weight: 600;
}
.instruction{
	position: relative;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width:1600px;
    height: 50%;
    margin: auto;
}

.instructionBox{
	align:center;
	width:20%
}
.instructionBox .circle{
	margin: auto;
    width: 100px;
    height: 100px;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    line-height: 100px;
}
.instructionBox .in_num{
    text-align: center;
    font-size: 3em;
    height: 100px;
    width: 100px;
}
.instructionBox .i1{
    padding-top: 15%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}
.instructionBox .text1{
    padding-top: 15%;
    margin: auto;
    text-align: center;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 2.3;
    word-spacing: 5px;
    letter-spacing: 3px;
} 




/*  오늘의 메뉴 */
.sec02 {
    background-color: orange;
    display: inline-block;
    width:100%;
    padding-top:50px;
    position:relative;
    top:-35px;
}

.menuwrap{
    font-weight: bolder;
}
/* a tag */
a:link{
	text-decoration:none;
}
.section1{
	margin:50px;	
}
/*사용법 존*/
.sec03 {
	margin: auto;
	display:block;
	position:relative;
	top:-35px;
	width: 100%;
	height: 1000px;
	background-color: #29335C;
	background-size: cover; 
	background-position: center;
	color: #fff;
	text-align: center;
}
.subAn{
    position: relative;
    right: 5%;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    bottom: -17%;
    text-decoration: none;
    color: white;
}
.subAn:link{
	text-decoration:none;
}
