@charset "UTF-8";



* {
	margin: auto 0;
	padding: 0;
    font-weight: bolder;
	color:white;
}
@font-face{
    font-family: 'GmarketSans';
	url:('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf');
}
body{
	background-color:orange;
}
/* a tag */
a{
	text-decoration:none;
}
/* 요일 */
.ld{
    font-size: 50px;
    color: ivory;
    margin: auto;
    width: 500px;
    position: absolute;
    left: 780px;
}
.box{
	display:flex;
	margin:10px;
}
section{
	margin:50px;	
}
/* 타입 보여주기 */
.showType{
    font-size: 40px;
    text-align: center;
    height: 50px;
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}
.box{
	border-bottom: 3px solid white ;
}
/* 메뉴 하나 */
.main_container{
	position:relative;
	width:800px;
}
/* 사진 */
.menupic{
	display:block;
	width:800px;
	height:400px;
	border:3px solid #fff;
	border-radius:15px;
}
/* 오버레이 */
.overLay{
	position:absolute;
	width:806px;
	height:0;
	background-color:rgba(0,0,0,0.7);
	left:0;
	right:0;
	bottom:0;
	text-align: center;
	overflow: hidden;
	transition: .5s ease-in;
}
/* 효과 */
.main_container:hover .overLay{
	width:800px;
	height:400px;
	border:3px solid;
	border-radius:15px;
}
/* 아이콘  및 텍스트*/
.menuIcon{
	padding-top:50px;
	padding-bottom:20px;
	width:10%;
	height:10%;
	border-bottom:solid 1px #fff;
}
.mencomp{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 10%;
    border-bottom: solid 1px #fff;
}
.elmt{
	margin-top:50px;
	margin-bottom:20px;
	font-size:30px;
	color:orange;
}
.elmt3{
	color: white;
    right: 30px;
    top: 45px;
    position: relative;
    text-align: right;
}
.infoIcon{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    margin-right: 12px;
}