@charset "UTF-8";

* {
	margin: auto 0;
	padding: 0;
}


.allmenuWrap{
	min-height:100vh;
}
  
.allMenuTitle{
margin-top: 100px;
    margin-bottom: 40px;
    width: 500px;
    text-align: left;
    height: 70px;
    margin-left: 10%;
    padding-left: 20px;
    font-size: 44px;
    border-left: 6px solid skyblue;;
}
/* radiobtn */
.searchBox{
	display:flex;
	justify-content: left;
	padding:50px;
}
.RadBtn{
	margin-left:10px;
	margin-right:10px;
}
.radioBtn{
	opacity:0;
}
.radLab{
	color:white;
	text-align:center;
	border-radius:5px;
	border:2px solid white;
	display: inline-block;
	width:150px;
	height:30px;
	background:#FBA97F;
	transition: .5s ease;
}
.radLab:hover{
	background:#da2121;
	font-weight:bold;
}
.radioBtn:focus +.radLab,
.radioBtn:checked +.radLab{
	background:#FF6B6B;
	font-weight:bold;
}

/*메뉴*/

.box{
    display: block;
    margin-left:200px;
    width: 1000px;
}
#toprow{
	color:black;
}
.menu_row{
	text-align: center;
	margin-bottom:10px;
    animation: slide_up ease 3s;
}

@keyframes slide_up {
	0% {
	    transform: translationY(100px);
	}
	100% {
	    transform: translationY(0);
	}
}

/* 목록 꾸미기 */
.elmt{
    color: grey;
    font-weight: bold;
    padding-left: 30px;
    height: 40px;
    border-left: 4px solid red;
    display: flex;
    width: 900px;
    text-align: left;
    transition: .3s ease;
    box-shadow: 5px 5px 20px -10px rgb(0 0 0 / 30%);
}
.topelmt{
    color: black;
    font-weight: bold;
    padding-left: 30px;
    height: 40px;
    border-left: 4px solid red;
    display: flex;
    width: 900px;
    text-align: left;
    box-shadow: 5px 5px 20px -10px rgb(0 0 0 / 30%);
}


/* 상세 링크 연결된 목록 */
.elmt:hover{
	color:black;
}
.elmt1{
	width:200px;
}
.elmt2{
	width:200px;
}
.elmt3{
	width:500px;
}


/* 상세 항목 나와야하는데 뭐가 잘못됨 */
.formhere{
	background-color: white;
	border: 1px solid orange;
    position: fixed;
    height: 80vh;
    width: 600px;
    left: 1220px;
    top: 100px;
}
a:link{
	text-decoration:none;
}