@charset "UTF-8";

.w3-card-4, .w3-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgb(135, 206, 235), 0 4px 20px 0
		rgb(135, 206, 235);
}

#wrap {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	text-align: center;
}

.myPageForm h1 {
	margin-top: 70px;
	padding-top: 20px;
}

.myPageForm {
	padding-bottom: 30px;
}

table {
	margin: 0 auto;
	width: 400px;
}

h1 {
	color: #87ceeb;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
}

#button {
	width: 100px;
	height: 40px;
	padding: 0;
	display: inline;
	border: 1.5px solid white;
	border-radius: 4px;
	background: #87ceeb;
	color: #fff;
	margin-top: 20px;
	transition: all 0.5s ease-in-out 0s;
}

#button:hover {
	border-color: #87ceeb;
	border-radius: 4px;
	border: solid 2px skyblue;
	background: white;
	color: #212529;
	text-decoration: none;
	box-shadow: 0 4px 10px 0 rgb(135, 206, 235), 0 4px 20px 0
		rgb(135, 206, 235);
}

#userreset {
	width: 100px;
	height: 40px;
	padding: 0;
	display: inline;
	border: 1.5px solid white;
	border-radius: 4px;
	background: #87ceeb;
	color: #fff;
	margin-top: 20px;
	transition: all 0.5s ease-in-out 0s;
}

#userreset:hover {
	border-color: #87ceeb;
	border-radius: 4px;
	border: solid 2px skyblue;
	background: white;
	color: #212529;
	text-decoration: none;
	box-shadow: 0 4px 10px 0 rgb(135, 206, 235), 0 4px 20px 0
		rgb(135, 206, 235);
}

.w3-input:focus {
	outline: none;
	border-color: skyblue;
	border-bottom: solid 2px skyblue;
}