@charset "UTF-8";

.w3-card-4, .w3-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgb(135, 206, 235), 0 4px 20px 0
		rgb(135, 206, 235);
}

.signUpbox{
	margin-top: 70px;
	padding-top: 20px;
}

.w3-input:focus {
	border-bottom: 2px solid orange;
	outline: none;
}

h1 {
	color: #87ceeb;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
}

.mybtn {
	width: 150px;
	height: 40px;
	padding: 0;
	display: inline;
	border-radius: 4px;
	background: #87ceeb;
	color: #fff;
	margin-top: 20px;
	transition: all 0.5s ease-in-out 0s;
}

.mybtn:hover .mybtn:focus {
	border-color: #87ceeb;
	border-radius: 4px;
	border: solid 2px #000;
	background: white;
	color: #212529;
	text-decoration: none;
}

#idCheck {
	width: 70px;
	height: 40px;
	padding: 0;
	display: inline;
	border: 1.5px solid white;
	border-radius: 4px;
	background: #87ceeb;
	color: #fff;
	margin-top: 20px;
	transition: all 0.5s ease-in-out 0s;
}

#idCheck:hover {
	border-color: #87ceeb;
	border-radius: 4px;
	border: solid 2px #000;
	background: white;
	color: #212529;
	text-decoration: none;
}

#postcodify_search_button {
	width: 70px;
	height: 30px;
	padding: 0;
	display: inline;
	border: 1.5px solid white;
	border-radius: 4px;
	background: #87ceeb;
	color: #fff;
	margin-top: 20px;
	transition: all 0.5s ease-in-out 0s;
}

#postcodify_search_button:hover {
	border-color: #87ceeb;
	border-radius: 4px;
	border: solid 2px #000;
	background: white;
	color: #212529;
	text-decoration: none;
}

#memEmail {
	margin-left: 41px;
	border-radius: 4px;
	border: solid 2px #000;
}

#memZipcode {
	margin-left: 27px;
	border-radius: 4px;
	border: solid 2px #000;
}

#memAddress1 {
	margin-left: 9px;
	border-radius: 4px;
	border: solid 2px #000;
}

#memAddress2 {
	margin-left: 29px;
	border-radius: 4px;
	border: solid 2px #000;
}